
NEXT_TELEMETRY_DISABLED=1

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DATABASE_URL=postgres://semaphore:semaphore@postgres:5432/semaphore
OPENROUTER_API_KEY=

# if you're using docker-compose use your system's private IP (eg. 192.168.1.1), else localhost works
SERVER_IP=

NEXT_PUBLIC_ZERO_SERVER=http://${SERVER_IP}:4848
NEXT_PUBLIC_API_SERVER=http://${SERVER_IP}:3000

# you'll need this if you want the web search functionality
SEARXNG_API_BASE_URL=""

# you'll need this for analytics
NEXT_PUBLIC_RYBBIT_HOST=

