
ZERO_UPSTREAM_DB=postgres://semaphore:semaphore@postgres:5432/semaphore
ZERO_REPLICA_FILE=/tmp/sync-replica.db
ZERO_SCHEMA_PATH=/app/zero/schema.ts

ZERO_AUTH_JWKS_URL="http://frontend:3000/api/auth/jwks"
ZERO_LOG_LEVEL="debug"

